/* Start coding here */


.header {
    background-color: rgb(77, 147, 117);
    padding: 2%;
    text-align: center;
    align-items: flex-start;
}

.content {   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.wrap {
    background-color: rgb(252, 189, 18);
    margin: 1px;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 14.5%;
    padding-right: 14.5%;
    justify-content: center;
    align-items: center;
}

.wrap-1 {
    flex: 1;
}

.wrap-2 {
    flex: 1;
}

.wrap-3 {
    flex: 1;
}

.footer {
    background-color: rgb(251, 245, 130);
    padding: 2%;
    text-align: center;
    align-items: flex-end;
}