/* Start coding here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-image: linear-gradient(to right, #CA75B8 , #5C8BD9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px ;
    font-family: 'Afacad', sans-serif;
    font-weight: bolder;
}

section {
    text-align: center;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.235);
    box-shadow: 2px 2px rgba(209, 206, 206, 0.371);
}

h2 {
    margin: 15px 0px ;
    color: white;
    text-shadow: 2px 2px rgba(173, 162, 162, 0.439);
}

p {
    margin-bottom: 15px;
}

span {
    display: inline-block;
    margin: 10px 0px;
}

h1 {
    margin: 20px 0px;
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
}

button {
    height: 40px;
    width: 90%;
    border-radius: 5px;
    background-color: #FEFF00;
    border: none;
    font-weight: bold;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.284);
    margin: 0px 15px;
}